*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.content{
    width: 100vw;
    height: 100vh;
}

/* left-side */

.content, .container{
    display: flex;
    flex-flow: row wrap;
}

.picture{
    background-image: url("space.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

div.container{
    position: relative;
    top: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FAF9F6;
    padding: 10px;
    font-size: 2em;
    font-family: "American Typewriter", "Arial";
    justify-content: center;
    align-items: center;
}

img[src="lion-logo.png"]{
    height: 80px;
    width: 80px;
    margin-right: 20px;
}




/* right-side */

.white-page{
    background-color: rgb(249, 246, 238);
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
}

.description{
    position: relative;
    padding: 46px;
    font-weight: bold;
    top: 40px;
    font-size: 1.5rem;
}

.text-container{
    box-shadow: 0px 2px 5px black;
    background-color: white;
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 20px 0 20px 46px;
}

.inputs{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 90%;
}

.label{
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}

label, input{
    display: block;
}

label{
    font-size: 14px;
    color: 	#696969;
}

input{
    width: 200px;
    height: 20px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus{
    outline: none;
    box-shadow: 3px 3px 3px #b4b6b8;
}

.submit-button{
    margin-top: 50px;
    row-gap: 8px;
    margin-left: 46px;
}

button{
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    padding: 12px;
    border-color: #fff;
	border-style: solid;
    width: 150px;
}

.log-in{
    font-weight: 600;
}

a{
    text-decoration: none;
    color:#596D48;
}

input:invalid{
    border: 1px solid red;
}